*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.off-link-dir {
    text-align: right;
}



/*bg style*/
.circle-blue {
  position: relative;
  background-image: url(../images/circle-blue.png);
  width: 100%;
  height: 2900px;
}



/*courses title*/
.courses-title{
    margin-top: 10%;
    font-size: 30pt;
    direction: rtl;
    text-align: right;
    margin-right: 5%;
}



/*courses list syle*/
.courses-list{
    margin-top: 3%;
    padding: 30px;
    direction: rtl;
    text-align: right;
}



/*footer */
.footer01 {
    width: 100%;
    height: max-content;
    background-color: rgb(182, 230, 252);
    color: white;
    margin-top: 10%;
}
.footer-dir-01 {
    direction: rtl;
}
.footer-dir02 {
    text-align: center;
}
.footer-links {
    text-decoration: none;
}



@media only screen and (max-width: 768px){
    .footer01 {
        margin-top: 0;
    }
    .courses-title{
        padding: 30px;
    }
}